#section-one{
  text-align: center;
  background-image: url("../image/backgrounds/landing.jpg");
  color: white;
  }
# happyhour{
  text-align:center;
  color:white;
}
#partytime{
  text-align: center;
  background-color: #F15A29;
  color: white;
  align-content: center;

}
#breakfast {
text-align: center;
color:white;
background-image: url("../image/foodtop/breakfast.jpg");
padding-bottom: 65px;
font-style: italic;
opacity: 0.5;

}

#lunch {
text-align: center;
color:white;
background-image: url("../image/foodtop/lunch.jpg");
padding-bottom: 65px;
font-style: italic;
opacity: 0.5;

}

#dinner{
  text-align: center;
  color:white;
  background-image: url("../image/foodtop/dinner.jpg");
  padding-bottom: 65px;
  font-style: italic;
  opacity: 0.5;
}
#dinner:hover{
  box-shadow: 0px 0px 0px 0px #00000, insert 2px white;
}

.well {
  float:left;
}
.par{
  display:column;
}


#mail{
  background-image: url("../image/backgrounds/subscribe.jpg");
  padding-top:50px;
  padding-bottom: 50px;
  text-align: center;
  background-size: cover;
  color:white;

}
.containerfluid{
  background-image: url("../image/backgrounds/foodsBg.jpg");
  padding-top: 50px;
  padding-bottom: 50px;


}
.card{
  box-shadow: 4px 8px 8px 4px rgba(0,0,0,0.2);
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;

}
#fv{
  background-color: white;padding: 50px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  border-right: 50px;
}
.formButton{
  margin: 20px;
  background-color: #F15A29;
  display: inline-block;
  color:#ffffff;
  font-size: 30px;
  font-weight: 500;
  padding: 6px 50px;
  border-radius: 5px;
}
.formButton:hover{
  background-color: grey;
  color: #ffffff;
}
#footer{
  text-align: center;
  font-size: 30px;
  color: white;
  background-color:#F15A29;
}
.burger{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  border-right: 50px;
}
#cstm{
  align-content: center;
}
.card{
  text-align: center;
}
.button {
border: none;
color: #F15A29;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
margin: 4px 2px;
cursor: pointer;
border-radius: 5px;
background-color: white;
color: #F15A29;
border: 2px solid #F15A29;
}
.sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color:white;
   display: block;
   transition: 0.3s;

}

.sidenav a:hover{
   color: #f1f1f1;
}

.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}

@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}
