.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: gold;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.mynav{
  text-align: left;

}
#section-one{
  text-align: center;
  background-image: url("../image/backgrounds/landing.jpg");
  color: white;
  }
# happyhour{
  text-align:center;
  color:white;
}
#partytime{
  text-align: center;
  background-color: #F15A29;
  color: white;
  align-content: center;

}
#breakfast {
text-align: center;
color:white;
background-image: url("../image/foodtop/breakfast.jpg");
padding-bottom: 65px;
font-style: italic;


}
.break:hover{
  opacity:0.5;
}
#lunch {
text-align: center;
color:white;
background-image: url("../image/foodtop/lunch.jpg");
padding-bottom: 65px;
font-style: italic;
}
.lun:hover{
  opacity: 0.5;
}
#dinner{
  text-align: center;
  color:white;
  background-image: url("../image/foodtop/dinner.jpg");
  padding-bottom: 65px;
  font-style: italic;
}
.din:hover{
  opacity: 0.5;
}
#dinner:hover{
  box-shadow: 0px 0px 0px 0px #00000, insert 2px white;
}

.well {
  float:left;
}
.par{
  display:column;
}


#mail{
  background-image: url("../image/backgrounds/subscribe.jpg");
  padding-top:50px;
  padding-bottom: 50px;
  text-align: center;
  background-size: cover;
  color:white;
}
#sectionfive{
  background-image: url("../image/backgrounds/foodsBg.jpg");
  padding-top: 50px;
  padding-bottom: 50px;
}
.topnav{
  background-color: grey;
  margin-bottom: -7px;
  text-align: center;
  display: inline-block;
  padding: 20px;
  width: 100%;
}
.card{
  box-shadow: 4px 8px 8px 4px rgba(0,0,0,0.2);
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;

  }
.cat{
  box-shadow: 0px 0px 30px #d8d3d2;
}
.me{
  box-shadow: 0px 0px 30px #d8d3d2;
  padding-bottom: 85px;

}
}
#fv{
  background-color: white;
  padding: 50px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  border-right: 50px;*
  text-align: center;
}
#menufood{
  color: orange;
  text-align: center;
  background-color: white;
  padding: 50px;
}


.formButton{
  margin: 20px;
  background-color: #F15A29;
  display: inline-block;
  color:#ffffff;
  font-size: 30px;
  font-weight: 500;
  padding: 6px 50px;
  border-radius: 5px;
}
.formButton:hover{
  background-color: grey;
  color: #ffffff;

}
#footer{
  text-align: center;
  font-size: 20px;
  color: white;
  background-color:#F15A29;
}
.burger{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  border-right: 50px;
}
#cstm{
  align-content: center;
}
#sectionsix{
  text-align: center;
}
.button {
border: none;
color: #F15A29;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
margin: 4px 2px;
cursor: pointer;
border-radius: 5px;
background-color: white;
color: #F15A29;
border: 2px solid #F15A29;
}

#bg-menu-nav{
  background-color: coral;
}

.formStyle {
margin: 20px;
background:rgba(250,250,250,0.5);
padding: 6px;
width: 40%;
margin-bottom: 20px;
border-bottom-width: 1px;
border-bottom-style: none;
border-bottom-color: #ecf0f1;
border-top-style: none;
border-right-style: none;
border-left-style: none;
font-size: 28px;
font-weight: 100;
color: #ffffff;
border-radius: 5px;
}

.formButton {
margin: 20px;
background-color:#F15A29;
display:inline-block;
color:white;
font-size:28px;
font-weight: 100px;
padding:6px 40px;
text-decoration:none;
border-radius: 5px;
}

.formButton:hover {
background-color: purple;
color:white;
}

input:focus {
outline: none;
}

::-webkit-input-placeholder {
color: #ecf0f1;
}

:-moz-placeholder {
color: #ecf0f1;
}

:-ms-input-placeholder {
color: #ecf0f1;
}
.drab{
 background-color: #dccce5;
 margin-top: 100px;
}
#sectioneight{
  text-align: center;
  padding: 20px;

}
